*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-top: 50px;
}
/* style navBar */
nav{
    background-color: rgb(182, 179, 179);
    margin: 40px 5%;
    height: 42px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
padding: 10px;
}
nav ul li:nth-child(2){
    background-color: rgb(102, 102, 102);
}
nav ul li:hover{
    background-color: rgb(102, 102, 102);
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
/* end of style navBar */

/* style section container */
.container{
display: flex;
flex-direction: row-reverse;

margin: 0 5%;
}

/* style aside */

aside {
    font-style: italic;
    background-color: lightgray;
    width: 50%;
    margin-top: 30px;
  }
/* style main */

.presentation{
    display: flex;
}
.presentation img{
    margin-right: 20px;
}
.presentation p{
    width: 57%;  
    text-align: justify;
}
.citation{
    width: 90%;
    height: 170px;
    background-color: rgb(192, 192, 192);;
    color: rgb(73, 73, 73);;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
}
.citation img:nth-child(1){
    position: relative;
    margin-top: 2%;
    right: 45%;
}
.citation h2{
    margin-top: 2%;
}
.citation h3{
    margin-top: 2%;
}
.citation img:nth-child(4){
    position: relative;
    margin-top: 2%;
    left: 45%;
}


/* end of style section container */

/* style footer */
footer{
    text-align: center;
    color: rgb(102, 102, 102);
    margin-top: auto;
    padding: 20px;
}
/* end of style footer */