*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-top: 50px;
}
/* style navBar */
nav{
    background-color: rgb(182, 179, 179);
    margin: 40px 5%;
    height: 42px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
padding: 10px;
}
nav ul li:nth-child(1){
    background-color: rgb(102, 102, 102);
}
nav ul li:hover{
    background-color: rgb(102, 102, 102);
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
/* end of style navBar */


/* style aside */

aside {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
   position: relative;
   left: 790px;;
   top: 50px;
    font-style: italic;
    background-color: lightgray;
  }
/* style main */
main{
    width: 65%;
    margin: 0 5%;
}
.presentation{
    display: flex;
}
.presentation img{
    margin-right: 20px;
}
.presentation p{
    width: 57%;
}
.citation{
    width: 90%;
    height: 150px;
    background-color: rgb(182, 179, 179);;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
}




/* style footer */
footer{
    text-align: center;
    color: rgb(102, 102, 102);
    margin-top: auto;
    padding: 20px;
}
/* end of style footer */